<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.newdeal.ledger.inquiry.mapper.InquiryMapper">

    <!--1. 문의게시판_전체리스크 가져오기 -->
    <select id="iSelectAll" resultType="com.newdeal.ledger.inquiry.dto.InquiryDto">
        SELECT * FROM qboard ORDER BY qbno DESC LIMIT #{endContRowNum} OFFSET #{startContRowNum}
    </select>

    <!--1-ⓐ. 문의게시판 전체리스크 총갯수 -->
    <select id="iSelectCountAll" resultType="int">
        select count(*) from qboard
    </select>

    <!--2. 문의게시판 게시글 1개 가져오기 -->
    <select id="iSelectOne" parameterType="String" resultType="com.newdeal.ledger.inquiry.dto.InquiryDto">
        select * from qboard where qbno =#{qbno}
    </select>
</mapper>
